.container.main

  menu(user="user")

  h1.tag {{$ctrl.tag[0].text}}

  div(ui-view="slideshow")

  slides(view="$ctrl.view" user="$ctrl.user")

  pager(filter="$ctrl.view.filter" on-update="recieveFilter(filter)")

  footer.footer
    .container
      p
        | homemademess.com
        = ' | '
        a(href='https://github.com/markisatacomputer/homemademess') github

