.container.main

  touch

  socket



  menu(user="$ctrl.user")

  tagged-menu(previous="$ctrl.previous")

  h1.tag {{$ctrl.tag[0].text}}

  .download-link(ng-if="$ctrl.user.role=='admin'")
    a(href="/#!/tagged/{{$ctrl.tag[0].text | taglink }}/?eagle={{$ctrl.tag[0]._id}}") Download Link

  div(ui-view="slideshow" user="$ctrl.user" view="$ctrl.view" on-update="$ctrl.recieveFilter(filter)")

  slides(view="$ctrl.view" user="$ctrl.user")

  #bottom
    pager(filter="view.filter" on-update="recieveFilter(filter)")

    .admin(ng-if="user.role=='admin'")
      admin(user="user" view="view" touch="touch")

    .download(ng-if="$ctrl.user.role=='download'")
      download-control
      select-control(view="$ctrl.view")

  footer.footer
    .container
      p
        | homemademess.com
        = ' | '
        a(href='https://github.com/markisatacomputer/homemademess') github

