.container.main

  h1.tag {{tag[0].text}}

  div(ui-view="slideshow")

  menu

  slides

  footer.footer
    .container
      p
        | homemademess.com
        = ' | '
        a(href='https://github.com/markisatacomputer/homemademess') github
