md-tabs.md-dynamic-height(md-selected="filterSelected")
  md-tab#search
    md-tab-label(aria-label="Search Tags")
      md-icon.material-icons search
    md-tab-body
      searchbar(filter="$ctrl.filter" on-update="$ctrl.onUpdate({filter:filter})")

  md-tab(ng-if="$ctrl.user.role == 'admin'")
    md-tab-label(aria-label="Show Selected")
      md-icon.material-icons check_circle
    md-tab-body
      p Filter results to show only selected images.
      md-switch(ng-model="$ctrl.selected" aria-label="Show Selected Only" ng-change="$ctrl.updateSelect()")
        span(ng-show="$ctrl.filter.selected")  Showing only selected images
        span(ng-show="!$ctrl.filter.selected")  Showing all images

  md-tab
    md-tab-label(aria-label="Date Range")
      md-icon.material-icons event
    md-tab-body
      .from
        span Date From
        md-datepicker(ng-model="$ctrl.from" md-min-date="$ctrl.minDate" md-max-date="$ctrl.maxDate" ng-change="$ctrl.setDate()")
      .to
        span Date To
        md-datepicker(ng-model="$ctrl.to" md-min-date="$ctrl.minDate" md-max-date="$ctrl.maxDate" ng-change="$ctrl.setDate()")

