.filter-body(ng-if="$ctrl.showFilters")
  md-chips(
    ng-model="$ctrl.filters"
    md-removeable="true"
    md-on-remove="$ctrl.removeFilter($chip)"
  )
    md-chip-template
      span
        strong {{$chip.name}}

  md-tabs.md-dynamic-height(md-selected="$ctrl.filterActive" md-center-tabs="true")
    md-tab#search(md-on-select="$ctrl.updateActive()")
      md-tab-label(aria-label="Search Tags")
        md-icon.material-icons search
      md-tab-body
        searchbar(filter="$ctrl.filter" on-update="$ctrl.onUpdate({filter:filter})")

    md-tab(ng-if="$ctrl.user.role == 'admin'" md-on-select="$ctrl.updateActive()")
      md-tab-label(aria-label="Show Selected")
        md-icon.material-icons check_circle
      md-tab-body
        p Filter results to show only selected images.
        md-switch(ng-model="$ctrl.selected" aria-label="Show Selected Only" ng-change="$ctrl.updateSelect()")
          span(ng-show="$ctrl.filter.selected")  Showing only selected images
          span(ng-show="!$ctrl.filter.selected")  Showing all images

    md-tab(md-on-select="$ctrl.updateActive()")
      md-tab-label(aria-label="Date Range")
        md-icon.material-icons event
      md-tab-body
        date-range(filter="$ctrl.filter" on-update="$ctrl.onUpdate({filter:filter})")
