.filter-body {
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;

  background: rgba(255,255,255,0.7);
  md-tabs {
    z-index: 10;
    overflow: visible;
    md-tab-content {
      padding: 2% 3%;
      &.md-active {
        overflow: visible;
      }
    }
  }
  .md-chip-input-container {
    display: none;
  }
  upload-date {
    md-chips {
      md-chip {
        cursor: pointer;
        &:hover {
          background: green;
          color: white;
        }
      }
    }
  }
  .close {
    text-align: center;
    position: relative;
    z-index: 5;
  }
}