node_modules/
bower_components/
coverage/
.sass-cache/
.idea/
.tmp/
dist/
src/
gulp/
e2e/
.bowerrc
.editorconfig
.eslintrc
.yo-rc.json
bower.json
coffeelint.json
gulpfile.js
karma.conf.js
package.json
protractor.conf.js
deploy-gh.sh
.DS_Store

