div.navvy(ng-class="{home: isActive('/')}")
  div#search
    tags-input(ng-model="tags", title="Tags", placeholder="search by tag", replace-spaces-with-dashes="false", on-tag-added="redoSearch()", on-tag-removed="redoSearch()" ng-show="isActive('/')")
      auto-complete(source="findTags($query)" min-length="1")
