.searchy {
  width: 100%;
  #search {
    width: 100%;
    margin-top: 8px;
    tags-input {
      .host {
        margin: 0;
        input {
          height: 48px;
          width: 100% !important;
          font-size: 1.6em;
        }
      }
      .autocomplete {
        ul.suggestion-list {
          max-height: 304px;
          li {
            span.number {
              font-size: 70%;
              color: #666;
              margin-left: 8px;
            }
          }
        }
      }
    }
  }
}

