div.searchy
  div#search
    tags-input(ng-model="$ctrl.filter.tag.tags", template="tag-temp.html", title="Tags", placeholder="search by tag", replace-spaces-with-dashes="false" add-on-enter="false" on-tag-removed="$ctrl.updateTags($tag)" on-tag-added="$ctrl.updateTags($tag)")
      auto-complete(source="$ctrl.findTags($query)" min-length="1" template="result-temp.html")

    script(type="text/ng-template" id="tag-temp.html")
      span
        a(ng-bind="$getDisplayText()" ui-sref="tagged({ tag : '{{ data['text'] | taglink }}' })")
      a(class="remove-button", ng-click="$removeTag()", ng-bind="::$$removeTagSymbol")

    script(type="text/ng-template" id="result-temp.html")
      span.text(ng-bind-html="$highlight($getDisplayText())") {{data.text}}
      span.number ({{data._sort.size}})