.slides {
  md-grid-list {
    md-grid-tile {
      div.img-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #666;
        img {
          .transition(.2s);
          min-width: 100%;
          min-height: 100%;
        }
      }
      .horizontal,
      .square {
        img {
          width: 100%;
          height: auto;
        }
      }
      .vertical {
        img {
          height: 100%;
          width: auto;
        }
      }
      div.edit-actions {
        position: absolute;
        bottom: 0;
        background: transparent;
        .transition(all 0.4s cubic-bezier(0.23, 1, 0.32, 1));
        button {
          background: transparent;
          opacity: 0;
          .transition(all 0.4s cubic-bezier(0.23, 1, 0.32, 1));
        }
      }
    }
    figure:hover {
      div.edit-actions {
        button {
          opacity: 1;
          background: rgba(255,255,255, 0.7);
        }
      }
    }
  }
}