.slide-wrapper
  img(
    ng-src='{{$ctrl.src}}'
    class='{{$ctrl.layclss}}'
    title='{{$ctrl.label}}'
  )
  .loading-spinner
slide-info(slide="$ctrl.slide" ng-if="$ctrl.slideshow.user.role=='admin'")
slide-action(slide="$ctrl.slide" ng-if="$ctrl.slideshow.user.role=='admin'")
