.container.main

  menu(user="user")

  .filter(ng-if="showFilters")
    searchbar(filter="view.filter"  on-update="recieveFilter(filter)")

  div(ui-view="slideshow")

  div(ui-view)

  slides(view="view" user="user")

  .admin(ng-if="user.role=='admin'")
    admin(user="user" view="view" on-update="recieveView(view)")

  pager(filter="view.filter" on-update="recieveFilter(filter)")

  footer.footer
    .container
      p
        | homemademess.com
        = ' | '
        a(href='https://github.com/markisatacomputer/homemademess') github
