div(ng-include='"/app/components/navbar/navbar.html"')

.container.clearfix
  .deckgrid.center.clearfix.with-search(deckgrid, source='view.images')
    div.image(ng-class='{{card.tags}}')
      img.img-responsive(src='{{card.derivative[0].uri}}' ng-click='mother.showSlide(card.$index)')

footer.footer
  .container
    p
      | homemademess.com
      = ' | '
      a(href='https://github.com/markisatacomputer/homemademess') github
     