.container.main
  
  div.ui-view
    
    searchbar

  slides

  slideshow(slides='view.images')

  footer.footer
    .container
      p
        | homemademess.com
        = ' | '
        a(href='https://github.com/markisatacomputer/homemademess') github
     