.transition (@transition) {
    -webkit-transition: @transition;  
    -moz-transition:    @transition;
    -ms-transition:     @transition; 
    -o-transition:      @transition; 
    transition:         @transition; 
}

.main {
    md-grid-list {
        width: 96%;
        margin: 0 2% 0;
        padding-top: 60px;
    }
    .footer {
        text-align: center;
        padding: 30px 0;
        border-top: 1px solid #E5E5E5;
    }
}
.md-dialog-is-showing  md-grid-list div.img-container img {
    opacity: .25;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}

md-dialog.slide {
    max-height: 90vh;
    padding: 0px;
    box-shadow: none;
    background: none;
    md-dialog-content {
        padding: 0px;
        height: 100%;
        width: 100%;
        background: none;
        img {
            max-height: 80vh;
        }
    }
}
