.transition (@transition) {
    -webkit-transition: @transition;  
    -moz-transition:    @transition;
    -ms-transition:     @transition; 
    -o-transition:      @transition; 
    transition:         @transition; 
}

.main {
    md-grid-list {
        width: 96%;
        margin: 0 2% 0;
        padding-top: 60px;
    }
    .footer {
        text-align: center;
        padding: 30px 0;
        border-top: 1px solid #E5E5E5;
    }
}
.md-dialog-is-showing  md-grid-list div.img-container img {
    opacity: .25;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}

md-dialog.slide {
    max-height: 90vh;
    padding: 0px;
    box-shadow: none;
    background: none;
    md-dialog-content {
        padding: 0px;
        height: 100%;
        width: 100%;
        background: none;
        overflow: hidden;
        img {
            max-height: 80vh;
        }
    }
}

@media (max-width: 599px) {
    md-backdrop.md-opaque.md-default-theme, md-backdrop.md-opaque {
        background-color: #fff;
        opacity: 1;
    }
    .md-dialog-container {
        width: 100%;
        md-dialog.slide {
            width: 100%;
            height: inherit;
            max-height: 100vh;
            max-width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            md-dialog-content {
                img {
                    max-height: 100vh;
                }
            }
        }
    }
}
