.container.main

  div(ui-view)

  searchbar(ng-show="showFilters" filter="view.filter"  on-update="recieveFilter(filter)")

  div(ui-view="slideshow")

  menu

  slides

  pager(filter="view.filter" on-update="recieveFilter(filter)")

  footer.footer
    .container
      p
        | homemademess.com
        = ' | '
        a(href='https://github.com/markisatacomputer/homemademess') github
