.container.main

  div(ui-view)

  div(ui-view="searchbar")

  div(ui-view="slideshow")

  menu

  slides

  footer.footer
    .container
      p
        | homemademess.com
        = ' | '
        a(href='https://github.com/markisatacomputer/homemademess') github
