md-dialog {
  md-dialog-content {
    img {
      .transition(all linear .1s);
      position: relative;
    }
    img.left-add {
      left: -200%;
    }
    img.left-add-active {
      left: 0;
    }
    img.leftagain-add {
      left: -200%;
    }
    img.leftagain-add-active {
      left: 0;
    }
    img.right-add {
      right: -200%;
    }
    img.right-add-active {
      right: 0;
    }
    img.rightagain-add {
      right: -200%;
    }
    img.rightagain-add-active {
      right: 0;
    }
    img.up-add {
      top: -200%;
    }
    img.up-add-active {
      top: 0;
    }
    img.down-add {
      bottom: -200%;
    }
    img.down-add-active {
      bottom: 0;
    }
  }
}