.navvy {
  position: fixed;
  width: 100%;
  top: 0px;
  right: 0px;
  z-index: 80;
  .menu.container {
    position: absolute;
    top: 5px;
    right: 0px;
    md-fab-actions {
      button, a {
        background: #999;
      }
    }
    button:hover, a:hover {
      background: #000 !important;
    }
  }
}

